@font-face {
font-family: charter;
font-style: normal;
font-weight: normal;
font-stretch: normal;
src: url('font/charter_regular.woff2') format('woff2');
}

@font-face {
font-family: charter;
font-style: italic;
font-weight: normal;
font-stretch: normal;
src: url('font/charter_italic.woff2') format('woff2');
}

@font-face {
font-family: charter;
font-style: normal;
font-weight: bold;
font-stretch: normal;
src: url('font/charter_bold.woff2') format('woff2');
}

@font-face {
font-family: charter;
font-style: italic;
font-weight: bold;
font-stretch: normal;
src: url('font/charter_bold_italic.woff2') format('woff2');
}
   @font-face {
     font-family: 'PT Serif';
     font-style: normal;
     font-weight: 400;
     src: url(pt-serif.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
   @font-face {
     font-family: 'PT Serif';
     font-style: italic;
     font-weight: 400;
     src: url(pt-serif-italic.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
   @font-face {
     font-family: 'PT Serif';
     font-style: normal;
     font-weight: 700;
     src: url(pt-serif-bold.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(iosevka.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(iosevka-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --color-dark: rgba(0,0,0,.9);
    --color-gray: #999;
    --color-faint: rgba(0,0,0,.01);
    --color-highlight: teal;
    --color-light:  #fbf8ef;
    --color-light:  #fffdf8;
    --color-faint-light: rgba(255,255,255,.8);
    --serif: charter;
    --mono: "Iosevka Light";
    --spacing: 1.3rem;
    --spacing-double: 2.6rem;
    --spacing-half: .7rem;
}

p, h1, h2, h3, h4, h5 {
    margin: 0; padding: 0;
}
p {
    margin-top: var(--spacing);
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: var(--spacing-half);
    margin-top: var(--spacing);
    display: inline-block;
}
html {
}
   body {
     font-family: var(--serif);
     background-color:var(--color-light);
     font-weight: 400;
     color: var(--color-dark);
     font-size: 16px;
   }
   body p {
     font-kerning: auto;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;      
     font-variant-numeric: oldstyle-nums;
   }

   a, a:visited {
     text-decoration: none;
     text-decoration: underline;
     color: var(--color-highlight);
   }
   .content, #content {
     max-width: 50em;
     background-color: var(--color-light);
     border-left: 1px solid var(--color-faint);
     margin-right:0;
     margin-left: auto;

   }
   .content p, #content p {
     padding-left: var(--spacing);
     max-width: 28rem !important;
     margin-left: .1rem;
     font-size: .98rem;
     line-height: 1.2rem;
     letter-spacing: .020rem;
     word-spacing: .03rem;
 }
   .content p code, #content p code {
     line-height: 1.2rem;
     font-size: .9rem;
   }
   p:first-of-type, #content .outline-text-2 p:first-child {
     font-size: 1.1rem;
     line-height: 1.4rem;
   }

   h1.sitetitle{
     font-size: 3em;
 }
   .mono {
     font-family: var(--mono);
     color: var(--color-gray);
     font-size: .6em;
   }
   marquee pre {
     font-size: 8px;
     line-height: 8px;
     font-color: var(--color-gray);
   }

   p i {
     color: var(--color-dark);
   }

   code, pre, pre.src, pre.example {
    font-family: var(--mono);
   }
ul, ol {
  list-style-type: "\2192  "; /* one em arrow */
  list-style-type: "\2e3a  "; /* two em dash */
  list-style-type: "\2014  "; /* em dash */
  list-style-position: outside;
  padding-top: 0;
  margin:0;
  padding-left: var(--spacing-double);
  font-size: .9rem;
}
ul li, ol li {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.org-left {
    text-align: left;
    border-left: 1px solid var(--color-faint);
    border-right: 1px solid var(--color-faint);
    border-bottom: 1px solid var(--color-faint);
}


.org-src-container pre.src {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0;
    border-top: 1px solid var(--color-faint);
    font-size: .8rem;
    padding-left: var(--spacing);
    padding-top: var(--spacing-half);
    margin-left:.2rem;
}
pre.example {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0;
    font-size: .8rem;
    padding-left: var(--spacing);
    padding-bottom: var(--spacing-half);
    padding-top: var(--spacing-half);
    color: orangered;
    overflow: visible;
}
pre.example:before {
    content: "\21b3 ";
}

p code{
    font-weight: bold;
}




/* table */
table .org-left {
    text-align: left !important;
    border-left: 1px solid var(--color-faint);
    border-right: 1px solid var(--color-faint);
    border-bottom: 1px solid var(--color-faint);
}



.section-number-1, .section-number-2, .section-number-3, .section-number-4 {
    color: var(--color-faint);
    font-size: .6em;
    display: none;
    width: 0;
}
/* .section-number-2 { */
/*     margin-left: -1em; */
/* } */
/* .section-number-3 { */
/*     margin-left: -1.9em; */
/* } */
/* .section-number-4 { */
/*     margin-left: -2.4em; */
/* } */
.title {
    font-size: 1em;
    text-align: left;
    font-weight: normal;
    color: var(--color-grey);
    font-family: var(--mono);
}
#table-of-contents {
    font-family: var(--mono);
    font-size: .5em;
    display: none;
}

#org-div-home-and-up {
    position: fixed;
    width: 100%;
    text-align: left !important;
    font-size: 1rem !important;
    padding: .5rem;
    padding-left: 0rem;
    margin-left:-1rem;
    line-height: 1rem;
    top: 0;
    z-index: 999;
    background-color: var(--color-light);
    color: var(--color-light)
}
#org-div-home-and-up a:first-of-type {
    display: none;
}
a[accesskey="H"] {
    text-decoration: none;
    color: var(--color-light)
}
a[accesskey="H"]:before {
    text-decoration: none;
    content: "\219E  niko.io";
    color:teal;
}

p code{
    font-weight: bold;
}
h1.title {
    color: var(--color-light);
}

h1,h2,h3,h4,h5,h6{
    border-bottom: 1px solid var(--color-faint);
    font-weight:700;
    line-height: .8em;
    margin-left: var(--spacing);
}
h1:before, h2:before, h3:before, h4:before{
  content: "\2e3a  "; /* two em dash */
  margin-left: -2.2em;
}
#postamble{
    display: none;
}

h2 { font-size: 3.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }
