


   @font-face {
     font-family: 'Source Serif Pro';
     font-style: normal;
     font-weight: 400;
     src: url(source-serif.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
   @font-face {
     font-family: 'Source Serif Pro';
     font-style: light;
     font-weight: 300;
     src: url(source-serif-light.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(spectral-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(spectral.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(iosevka.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(iosevka-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(spectral-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
    --color-dark: rgba(0,0,0,1);
    --color-gray: #999;
    --color-faint: rgba(0,0,0,.05);
    --color-highlight: teal;
    --color-light:  #fbf8ef;
    --color-light:  #fefaf3;
    --color-faint-light: rgba(255,255,255,.3);
    --serif: "Spectral";
    --mono: "Iosevka Light"
}

   body {
     font-family: var(--serif);
     background-color:var(--color-light);
     font-weight: 400;
     color: var(--color-dark);
   }
   body p {
     line-height: 1.6em;
     font-kerning: auto;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     margin-top: 1.5em;
   }
   a, a:visited {
     text-decoration: none;
     color: var(--color-highlight);
   }
   .content, #content {
     max-width: 35em;
     margin: 0 auto;
     background-color: var(--color-light);
     border-left: 1px solid var(--color-faint);
   }
   .mono {
     font-family: var(--mono);
     color: var(--color-gray);
     font-size: .6em;
   }
   marquee pre {
     font-size: 8px;
     line-height: 8px;
     font-color: var(--color-gray);
   }

   p i {
     color: var(--color-dark);
   }

   code, pre, pre.src, pre.example {
    font-family: var(--mono);
   }
ul {
  list-style-type: "\2192  "; /* one em arrow */
  list-style-type: "\2e3a  "; /* two em dash */
  list-style-type: "\2014  "; /* em dash */
  list-style-position: outside;
  padding: 1em;
}

.org-left {
    text-align: left;
    border-left: 1px solid var(--color-faint);
    border-right: 1px solid var(--color-faint);
    border-bottom: 1px solid var(--color-faint);
}


.org-src-container pre.src {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0;
    border-top: 1px solid var(--color-faint);
    font-size: .8em;
    background-color: var(--color-faint-light);
    padding-left:1em;
    padding-top:1em;
}
pre.example {
    background-color: var(--color-faint-light);
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0;
    padding-top: .5em;
    font-size: .8em;
    padding-left:1em;
}
pre.example:before {
    content: "\21b3 ";
    background-color: var(--color-faint-light);
}

p code{
    background-color: var(--color-faint-light);
    font-size: .8em;
    font-weight: bold;
}

/* the results */
pre.example {
    color: orangered;
    overflow: visible;
}




/* table */
table .org-left {
    text-align: left !important;
    border-left: 1px solid var(--color-faint);
    border-right: 1px solid var(--color-faint);
    border-bottom: 1px solid var(--color-faint);
}



.section-number-1, .section-number-2, .section-number-3, .section-number-4 {
    color: var(--color-faint);
    font-size: .6em;
}
.section-number-2 {
    margin-left: -.7em;
}
.section-number-3 {
    margin-left: -1.6em;
}
.section-number-4 {
    margin-left: -2.4em;
}
.title {
    font-size: 1em;
    text-align: left;
    font-weight: normal;
    color: var(--color-grey);
    font-family: var(--mono);
}
#table-of-contents {
    font-family: var(--mono);
    font-size: .5em;
}

#table-of-contents h2{
    font-size: .8em;
    font-weight: normal;
    color: var(--color-grey);
    display: none;
}
#table-of-contents a{
    color:var(--color-grey);
}
#table-of-contents ul {
    margin: 0;
    padding: 0;
}
#table-of-contents li{
    list-style: none;
}
#org-div-home-and-up {
    position: fixed;
}

h1,h2,h3,h4,h5,h6{
    border-bottom: 1px solid var(--color-faint);
    font-weight:normal;
}
#postamble{
    display: none;
}

h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }
